[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto
[user]
  name = Pablo Dejuan
  email = pablo.dejuan@gmail.com
[alias]
  st = status
  co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pom = push origin master
[core]
	editor = vim
