[color]
  diff = auto
  status = auto
  branch = auto
  ui = auto
[user]
	name = Pablo Dejuan
	email = pablo@resolvergroup.com
	signingkey = 1960792370BE8BE977265267367DFB27B74DCCC5
[alias]
  b = branch
  co = checkout
  can = commit --amend --no-edit
  dc = diff --cached
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pp = pull --prune --rebase
  rbm = rebase master
  si = status --ignored
  st = status -s -b
  update = !git checkout staging && git pull --prune --rebase && git checkout - && git rebase staging && git status -s -b
[core]
  editor = vim
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = /Users/pablodejuan/.gitignore_global

[url "git@github.com:"]
  insteadOf = https://github.com/
# git large file storage
# https://github.com/git-lfs/git-lfs
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[commit]
	gpgsign = true
